
  <!-- END TOP -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEBAR -->


<ul class="sidebar-panel nav">
  <li class="sidetitle">主要</li>
  <li><a href="index.html"><span class="icon color5"><i class="fa fa-home"></i></span>仪表板<span class="label label-default">2</span></a></li>
  <li><a href="mailbox.html"><span class="icon color6"><i class="fa fa-envelope-o"></i></span>邮箱<span class="label label-default">19</span></a></li>
  <li><a href="#"><span class="icon color7"><i class="fa fa-flask"></i></span>UI 元素<span class="caret"></span></a>
    <ul>
      <li><a href="icons.html">图标</a></li>
      <li><a href="tabs.html">标签</a></li>
      <li><a href="buttons.html">纽扣</a></li>
      <li><a href="panels.html">面板</a></li>
      <li><a href="notifications.html">通知</a></li>
      <li><a href="modal-boxes.html">Modal Boxes</a></li>
      <li><a href="progress-bars.html">进度条</a></li>
      <li><a href="others.html">其他<span class="label label-danger">新</span></a></li>
    </ul>
  </li>
  <li><a href="charts.html"><span class="icon color8"><i class="fa fa-bar-chart"></i></span>图表</a></li>
  <li><a href="#"><span class="icon color9"><i class="fa fa-th"></i></span>表<span class="caret"></span></a>
    <ul>
      <li><a href="basic-table.html">基本表</a></li>
      <li><a href="data-table.html">数据表</a></li>
    </ul>
  </li>
  <li><a href="#"><span class="icon color10"><i class="fa fa-check-square-o"></i></span>形式<span class="caret"></span></a>
    <ul>
      <li><a href="form-elements.html">表单元素</a></li>
      <li><a href="layouts.html">表单布局</a></li>
      <li><a href="text-editors.html">文本编辑器</a></li>
    </ul>
  </li>
  <li><a href="widgets.html"><span class="icon color11"><i class="fa fa-diamond"></i></span>小工具</a></li>
  <li><a href="calendar.html"><span class="icon color8"><i class="fa fa-calendar-o"></i></span>日历<span class="label label-danger">新</span></a></li>
  <li><a href="typography.html"><span class="icon color12"><i class="fa fa-font"></i></span>活版印刷</a></li>
  <li><a href="#"><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>额外页面<span class="caret"></span></a>
    <ul>
      <li><a href="social-profile.html">社交资料</a></li>
      <li><a href="invoice.html">发票<span class="label label-danger">新</span></a></li>
      <li><a href="login.html">登录页面</a></li>
      <li><a href="register.html">寄存器</a></li>
      <li><a href="forgot-password.html">忘记密码</a></li>
      <li><a href="lockscreen.html">锁屏</a></li>
      <li><a href="blank.html">空白页</a></li>
      <li><a href="contact.html">联系</a></li>
      <li><a href="404.html">404 页</a></li>
      <li><a href="500.html">500 页</a></li>
    </ul>
  </li>
</ul>

<ul class="sidebar-panel nav">
  <li class="sidetitle">更多</li>
  <li><a href="grid.html"><span class="icon color15"><i class="fa fa-columns"></i></span>网络系统</a></li>
  <li><a href="maps.html"><span class="icon color7"><i class="fa fa-map-marker"></i></span>地图</a></li>
  <li><a href="customizable.html"><span class="icon color10"><i class="fa fa-lightbulb-o"></i></span>定制</a></li>
  <li><a href="helper-classes.html"><span class="icon color8"><i class="fa fa-code"></i></span>助手类</a></li>
  <li><a href="changelogs.html"><span class="icon color12"><i class="fa fa-file-text-o"></i></span>更新日志</a></li>
</ul>

<div class="sidebar-plan">
  专业计划<a href="#" class="link">升级</a>
  <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
  </div>
</div>
<span class="space">42 GB / 100 GB</span>
</div>


