<html>
<head>
<title>用户信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/_ext/style/css.css" rel="stylesheet" type="text/css">

</head>
<body>
 <div class="col-md-6">
                  <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            用户信息
                        </div>
						
                        <div class="panel-body">
                            <div class="table-responsive" style="padding:10px;">
                                 <div class="form-group">
                                           <label>用户名：</label>
                                           <font class="null_text"> {$user.name}</font>
                                        </div>
										<div class="form-group">
                                            <label>登录名：</label>
											<font class="null_text"> {$user.login_name}</font>
										</div>
                        </div>
                    </div>
					
                     <!-- End  Kitchen Sink -->
                </div>
</div>
</body>
</html>