<html>
	<head>
		<title>仁爱产品运营系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script language="JavaScript" src="_extends/script/jquery.js"></script>
	</head>
<frameset name="loginFrame"  id="loginFrame" rows="30,*" cols="*" frameborder="yes" border="0" >
	<frame src="main.php?m=admin&a=getHeader" name="topFrame"   scrolling="no"/>
	<frameset cols="170,*" framespacing="0" frameborder="yes" border="0"  >
	  <frame src="main.php?m=admin&a=getMenuinfo" name="menuFrame" id="menuFrame" title="menuFrame" frameborder="no" border="0"  scrolling="no"/>
	  <frame src="main.php?m=admin&a=myinfo" name="mainFrame" id="mainFrame" scrolling="auto"  frameborder="no" border="0" title="mainFrame" />
	</frameset><noframes></noframes>
</frameset>
</html>
